@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 1 */ }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  /* Repères */ }
  @media (min-width: 320px) {
    body {
      border-top: 5px solid purple; } }
  @media (min-width: 768px) {
    body {
      border-top: 5px solid red; } }
  @media (min-width: 1024px) {
    body {
      border-top: 5px solid orange; } }
  @media (min-width: 1440px) {
    body {
      border-top: 5px solid green; } }

input, button {
  border: 0; }

.navbar {
  border-radius: 0;
  margin: 0; }

/*------------------------------------*    $CONTENT
\*------------------------------------*/
#conteneurGalerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  overflow: hidden; }
  #conteneurGalerie .conteneurVisuel {
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    display: none;
    position: relative; }
    #conteneurGalerie .conteneurVisuel img {
      width: 100%; }
    #conteneurGalerie .conteneurVisuel p {
      background-color: #ffd700;
      color: #333;
      font-size: 12px;
      padding: 5px;
      width: 100%; }

/*------------------------------------*    $MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 320px) {
  .conteneurVisuel {
    width: 50%; }
  .conteneurVisuel p {
    font-size: 12px;
    padding: 10px; } }

@media (min-width: 768px) {
  .conteneurVisuel {
    width: 33.33%; }
  .conteneurVisuel p {
    font-size: 12px;
    padding: 10px; } }

@media (min-width: 1024px) {
  .conteneurVisuel {
    width: 25%; } }

@media (min-width: 1440px) {
  .conteneurVisuel {
    width: 20%;
    height: 345px; } }
