/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
#conteneurGalerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    overflow:hidden;
    .conteneurVisuel{
        background-color: $white; 
        border: 1px solid $white;
        overflow:hidden; 
        display:none;
        position: relative;
        img {  
            width:100%; 
        }
        a { 
            // position: absolute; /*-->*/ top: 0; bottom: 0; left: 0; right: 0;
        }
        p { 
            background-color: $gold; 
            color: $mine-shaft; 
            font-size: 12px;
            padding:5px; 
            width: 100%;
        }
    }
}
/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
@media (min-width:320px){
	.conteneurVisuel { 
        width: 50%; 
    }
	.conteneurVisuel p { 
        font-size:12px; 
        padding:10px; 
    }
}
@media (min-width:768px){
	.conteneurVisuel { 
        width:33.33%; 
    }
	.conteneurVisuel p { 
        font-size:12px; 
        padding:10px; 
    }
}
@media (min-width:1024px){
	.conteneurVisuel { 
        width:25%; 
    }
}
@media (min-width:1440px){
	.conteneurVisuel { 
        width:20%; height: 345px;
    }
}