/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
#conteneurGalerie {
  outline: 1px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 0;
  .conteneurVisuel {
    outline: 1px dashed #ccc;
    margin: 5px;
    overflow: hidden;
    position: relative;
    .photo { 
      border-radius: 50%;
      // width: inherit; height: inherit; 
      width: 80px; height: 80px;
    }
    a {
      position: absolute; top: 0; bottom: 0; left: 0; right: 0;
      &:before {
        background: url("../../svg/loupe.svg") no-repeat 0 0;
        content: "";
        color: $white;
        opacity: 0;
        position: absolute; top: 50%;left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease-in-out;
        width: 25px; height: 25px;
      }
      &:hover:before {
        opacity: 1;
      }
    }
    .tooltip {
      background: $gold;
      border-radius: 50%;
      position: absolute; bottom: 0; right: 0;
      width: 20px; height: 20px;
      &:before {
        background: url("../../svg/legende.svg") no-repeat center center;
        content: "";
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 10px; height: 10px;
      }
    }
  }
  .legende {
    background-color: $gold;
    color: $mine-shaft;
    display: none;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    min-height: 50px;
  }
}

/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
@media (min-width:320px) {}

@media (min-width:768px) {}

@media (min-width:1024px) {}

@media (min-width:1440px) {}