/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
#conteneurGalerie {
  outline: 1px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 0;
  .conteneurVisuel {
    outline: 1px dashed #ccc;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 5px;
    overflow: hidden;
    position: relative;
    width: 80px; height: 80px;
    .photo { 
      width: inherit;
      height: inherit;
      object-fit: cover;
      object-position: right;
    }
    a {
      position: absolute; top: 0; bottom: 0; left: 0; right: 0;
      &:before {
        background: url("../../svg/loupe.svg") no-repeat 0 0;
        content: "";
        color: $white;
        opacity: 0;
        position: absolute; top: 50%;left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease-in-out;
        width: 25px; height: 25px;
      }
      &:hover:before {
        opacity: 1;
      }
    }
    .tooltip {
      background: $gold;
      border-radius: 50%;
      position: absolute; bottom: 0; right: 0;
      width: 20px; height: 20px;
      &:before {
        background: url("../../svg/legende.svg") no-repeat center center;
        content: "";
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 10px; height: 10px;
      }
    }
  }
  .legende {
    background-color: $gold;
    color: $mine-shaft;
    display: none;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    min-height: 50px;
  }
}

/*------------------------------------*\
    $LIGHTBOX
\*------------------------------------*/

#fond-noir {
  position: fixed;
  z-index: 77777;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#contenu {
  position: relative;
  width: 630px;
  margin: 15% auto;
}

#contenu img {
  background-color: #fff;
  max-width: 600px;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
  -moz-box-shadow: 0 0 50px #000;
}

#close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: url(img/close.png) top left no-repeat;
  cursor: pointer;
}

#close:hover {
  background: url(img/close_hover.png) top left no-repeat;
}

#title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 3px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
}

/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
@media (min-width:320px) {}

@media (min-width:768px) {}

@media (min-width:1024px) {}

@media (min-width:1440px) {}